
.App{
  text-align: center;
  display: flex;
}

.calendar {
  text-align: center;
  width: 300px;
  margin-top: 60px;
  border: grey solid 1px;
  border-radius: 10px;
  height: 740px;
}

.timeline {
  margin-top: 60px;
  width: 80px;
}


body {
  font-family: system-ui, sans-serif;
}
